[user]
	name = Glenn Gentzke
[credential]
	helper = osxkeychain
[alias]
    co = checkout
    st = status
    puff = pull --ff-only
    upmast = pull upstream master
    reupmast = pull --rebase upstream master
    recon = rebase --continue
    copr = !sh -c 'git checkout -b pr/$0 upstream/pr/$0'
    release-notes = !sh -c 'git log release_2016-$0..HEAD --format=%s --no-merges'
    master-blaster = !sh -c 'git branch | grep -v master | xargs git branch -D'
    clean-merged-branches = !sh -c 'git branch --merged master | grep -v master | xargs -n 1 git branch -d'
[push]
	default = current
[color]
	ui = true
